@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');y 
*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif; 
}
.navbar {
background-color: black;
padding: 15px 0;
}
body{
  background-color: #f8f8f8;
}
.navbar ul {
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px; ;

}


.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s;
    }

    .navbar a:hover { 
   color: gold;

}

.hero1{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
}
.hero1 h1{
  font-size: 4rem;
  position: absolute;
  padding-top: 20vh;
}
.hero1 img{
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(40%);
}
.hero1 p{
  padding-top: 40vh;
}
.hero1 button{
  padding: 10px;
  margin-top: 20px;
  background-color: transparent;
  position: absolute;
  margin: 50vh;
  color: white;
  border-radius: 20px;
}
.hero1 p{
  position: absolute;
}

.h1{
  text-align: center;
  text-transform: none;
  text-decoration: dashed;
}

.a{
  text-decoration: midnightblue;
  color: cornflowerblue;
  font-weight: 400;
  font: size 2px; 
  text-transform: uppercase;
}


/* cards-container */
.main-page {
  padding: 2em;
}
.cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-container



.container{ 
  display: flex;
  gap:20px ;
} 
.h1{
  text-align: center;
  text-transform: none;
  text-decoration: dashed;

}
.a{
  text-decoration: rgb(254, 5, 5);
  color: cornflowerblue;
  font-weight: 400;
  font: 2px; 
  text-transform: uppercase;
  display: flex;
}
.cards{
  display: grid;
  grid-template-columns:repeat(auto-fit , minmax(280px,1fr));
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  max-height: 90%;
  gap: 20px;
  margin: auto;

}
.card{
  background-color: #ffffff;
  border-radius:15px ;
  box-shadow: 4px 4px 15px #bebebe, -4px -4px 15px rgb(255, 255, 255);
  overflow: hidden;
}


.card img{
  width: 100%;
  height: 200px;
   
   width: 100%;
   object-fit: cover;
}

.card-content{
  padding: 20px;;
}

.card-title{
  font-size: 2em;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: left;
  
}
.card p{
  display: flex;
}

.card-description{
margin-top: 12px;
font-size: 1.2em;
color: #555;
line-height: 25px;
 }


.container{ 
  display: flex;
  gap:20px ;
} 
.card{
  margin-right: 20px;
  overflow: hidden;

}

.card-img{
  width: 100%; 
  height: auto;
  display: block;
  position: relative;
  overflow: hidden;
  transform: translateX(-100);
  opacity: 1;
}
.h1{
  text-align: center;
  text-transform: none;
  text-decoration: dashed;

}
h1{
  text-align: center;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}
section li{
  text-align:center;
}
.contact{
  background-color: black;                                                                                            
  color: white;
}
.contact a{
  color: white;
  text-decoration: none;
}

section h1{
text-align:center ;
justify-content: center;
align-items: center;
}
